<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard - Cybrains_TRM</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <img src="../static/logo.png" alt="Blobbers Logo" class="navbar-brand">
            <h3 class="text-white" href="/index"></i>Cybrains</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item text-light">
                        <a class="nav-link text-white" href="/index">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-right">
                        <a class="nav-link btn btn-danger text-white" href="/index">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button" onclick="toggleSidebar()">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="/index">Cybrains</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Employees(under development)</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/dashboard" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Time Records</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="main p-3">
            <div class="text-center">
                <h1>Dashboard</h1>
                <div id="trm_container"></div>
                <button id="clockInButton" class="btn btn-primary">Clock In</button>
                <button id="clockOutButton" class="btn btn-secondary">Clock Out</button>
            </div>
        </div>
    </div>

    <script>
        const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));

        if (!loggedInUser) {
            window.location.href = '/login';
        }

        // Function to toggle sidebar
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('expand'); // Toggle the 'expand' class
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dashboard.js"></script>
</body>

</html>