<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard - Cybrains_TRM</title>
</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button" onclick="toggleSidebar()">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="/index">Cybrains</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Employees(under development)</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/dashboard" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Time Records</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="main p-3">
            <div class="text-center">
                <h1>Dashboard</h1>
                <div id="trm_container"></div>
                <button id="clockInButton" class="btn btn-primary">Clock In</button>
                <button id="clockOutButton" class="btn btn-secondary">Clock Out</button>
            </div>
        </div>
    </div>

    <script>
        const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'));

        if (!loggedInUser) {
            window.location.href = '/login';
        }

        // Function to toggle sidebar
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('expand'); // Toggle the 'expand' class
        }
    </script>

    <script src="../static/dashboard.js"></script>
    {% endblock %}
</body>

</html>